<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Magedirect_CustomCatalog::catalog_products" title="Custom Catalog" translate="title"
             module="Magedirect_CustomCatalog" sortOrder="100" parent="Magento_Catalog::inventory"
             action="customcatalog/product/" resource="Magento_Catalog::products"/>
    </menu>
</config>
